body,div,ul,h1,h2,h3,h4,h5,h6,form,dl,p,li,dt,dd,span{margin: 0;padding: 0;display: block;box-sizing: border-box;font-family: "微软雅黑";}
body{background-color: #938e8c;padding:100px 0;}
/*外围最大的div*/
.container{margin:0 auto;width: 980px;height: 1386px;background-color: #fff;padding:0 44px;}

/*第一个横行div*/
.div-row1{width: 892px;height:63px;border-bottom:2px solid #938e8c;}
.div-row1-left{float: left;width: 110px;height: 61px;background-color: #D55D5C;}
.div-row1-left span{margin-left: 4px;margin-top: 44px;font-size: 12px;color: #fff;font-family: "黑体";}
.div-row1-right{float: right;}
.div-row1-right span{margin-top: 44px;font-size: 12px;color: #d45d5c;font-family: "黑体";}

/*第二行带大图的div*/
.div-row2{position: relative;margin:30px 0;height: 301px;/*border:1px solid #000;*/}
.div-row2-img{position: absolute;left: 0;width: 641px;height: 301px;background:url(../images/task_1_6_1.png) no-repeat;}
.div-row2-right{position: absolute;padding:8px 0;right: 0;height: 301px;width: 203px;border-top:2px solid #cc8091;}
.div-row2-img-zhezhao1{float: left;width: 191px;height: 301px;z-index: 2;background-color: #BECFC2;opacity: 0.8;}
.div-row2-img-zhezhao2{float: right;width: 191px;height: 301px;z-index: 2;background-color: #E7C9CB;opacity: 0.8;}
.div-row2-right1{display: inline-block;margin-bottom: -6px;}
.div-row2-right1 h3{display: inline-block;font-size: 24px;}
.div-row2-right1 span{display: inline-block;}
.xian1{margin-top: -2px;width: 63px;border:1px solid #938e8c;}
.xian2{margin-top: -2px;width: 115px;border:1px solid #938e8c;}
.span{font-size: 12px; color: #676767;font-family: "楷体";line-height: 10px;}
.qibai{font-size: 116px;color: #75b86b;font-family: "微软雅黑";margin-left: -20px;}
.sanshier{display: inline-block;float: left;font-size: 55px;color: #cc8091;margin-left: 10px;}
.css{font-size: 21px;color: #cc8091;float: left;margin-top: 17px;}
.csslog{font-size: 12px;color: #cc8091;float: left;}

/*第三行what when how*/
.div-row3{width: 641px;height: 301px;}
.div-row3 ul li{display: inline-block;float: left;margin-right: 20px;width: 190px;}
.div-row3 ul li dt{margin-bottom: 10px;font-size: 16px;font-weight: bold;text-decoration: underline;}
.div-row3 ul li:nth-child(1) dt{color: #75b86b;}
.div-row3 ul li:nth-child(2) dt{color: #d2994f;}
.div-row3 ul li:nth-child(3) dt{color: #cc7680;}
.div-row3 ul li dd{line-height: 16px;color: #231815;font-size: 12px;opacity: 0.7;font-family: "宋体";}
.div-row3 ul li span{line-height: 16px;color: #231815;font-size: 12px;opacity: 0.7;font-family: "宋体";}
.div-row3 ul li h5,h4{display: inline-block;opacity: 0.7;font-weight: normal;}
.div-row3 ul li h4{font-size: 12px;color: #cd4a48;font-style: italic;line-height: 16px;}


/*最后一大行*/
.last-rows{margin-top: -70px;width: 892px;height: 680px;border-bottom:1px solid #938e8c;}
.last-left{float: left;width: 420px;height: 630px;}
.last-right{float: right;width: 444px;height: 600px;}
.last-left1{margin-left: -10px;}
.last-left1 h3{display: inline-block;font-size: 72px;color: #f5c327;font-family: "微软雅黑";font-weight: bold; font-style: italic;}
.last-left1 h5{display: inline-block;font-size: 42px;color: #11456b;font-family: "黑体";font-weight: bold;line-height: 16px;}
.last-left h5{font-size: 42px;color: #11456b;font-family: "黑体";font-weight: bold;line-height: 16px;}
.last-left span{margin-top: 15px;font-size: 33px;color: #11456b;font-family: "黑体";font-weight: bold;}
.last-line{margin-top: 10px;width: 415px;height: 2px;background-color: #11456b;}
.font-img1{float: right;margin: 12px 0 12px 12px;}
.font-img{margin-top: 30px;font-size: 12px;color: #767777;font-family: "宋体";line-height: 16px;}
.font-p:first-letter{float: left;font-size: 70px;color: #f5e327;font-family: "微软雅黑";line-height: 70px;}
.p-text-indent{text-indent: 2em;}
.right-img{width: 444px;height: 275px;}
.right-img-font{position: relative;margin-top: -65px;width: 444px;height: 61px;background-color: #000;opacity: 0.7;}
.right-xian{position: absolute;margin-left: 40px;margin-top: 8px;width: 3px;height: 44px;background-color: #72b16a;}
.right-font1{position: absolute;margin-top: 14px;margin-left: 50px;font-size: 26px;color: #fff;font-family: "微软雅黑";}
.right-font2{position: absolute;margin-top: 30px;margin-left: 160px;font-style: italic;color: #72b16a;font-size: 12px;font-family: "微软雅黑";line-height: 140%;}
.lastest1{positoin: relative;margin-top: 40px;width: 444px;height: 318px;background-color: #eeeed6;}
.lastest1 ul{position: absolute;margin-top: 20px;margin-left: 40px;width: 444px;}
.lastest1 li{margin-bottom: 10px;}
.sanjiao{
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #11456b;
    }
.lastest1-zui{float: left;display: inline-block;font-size: 16px;color: #5a5b5b;font-family: "宋体";text-align: left;}
.lastest1-zuihou{display: inline-block;margin-left: 10px;font-size: 12px;font-family: "宋体";font-style: oblique;line-height: 20px;color: #5a5b5b;}
.lastest2{position: absolute;margin-top: 158px;width: 240px;height: 160px;background-color: #d55d5c;}
.lastest2-zero{float: left;display: inline-block;height: 86px;margin:37px 10px;line-height: 86px;border-right:2px solid #fff;font-size: 110px;color: #fff;font-family: "微软雅黑";}
.nums{diplay: inline-block;color: #fff;margin-top: 40px;}
.hello{margin-top: 10px;font-size: 12px;color: #fff;font-family: "黑体";line-height: 6px;}
.lastest3{position: absolute;margin-top: 158px;margin-left: 260px;width: 180px;height: 160px;}
.lastest3 p{font-size: 14px;color: #5a5b5b;font-family: "黑体";font-style: italic;line-height: 16px;}
.pull-left{position: absolute;bottom: 120px;right: 150px;line-height: 30px;font-size: 72px;color: #d45d5c;font-family: "黑体";}
.pull-right{position: absolute;left:130px;bottom: 20px;line-height: 30px;font-size: 72px;color: #d45d5c;font-family: "黑体";}
.done{float: right;font-size: 12px;color: #d45d5c;font-family: "黑体";}